*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* Estándar moderno */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  /* Elimina el color de resaltado en dispositivos móviles */
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color1: #000000;
  --color2: #000730;
  --color2-alpha: #00000096;
  --color3: #c3c3c3;
  --color4: #1c6fc2;
  --font-size-landscape: calc((1vw + 1vh) * 0.8);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
}

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: grey;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url('VeraMono.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: var(--font-size-landscape);
  text-wrap: balance;
  user-select: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  background-color: var(--color2); /* Se ven igual las burbujas */
}

#parallax-container {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh; /* Este siempre deberia ser fijo en 100vh */
  perspective: 10px;
}

#parallax-background {
  /* height: SE AJUSTA DESDE JS*/
  transform: translateZ(-10px) scale(2.4);
  filter: blur(2.5px);
  width: 100%;
}

.shape {
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle at 25% 25%,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.4) 30%,
    rgba(0, 255, 255, 0.2) 100%
  );
  box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.6),
    inset 10px 10px 20px rgba(0, 0, 0, 0.5);
  animation: float 5s ease-in-out infinite;
  will-change: transform;
}

#content {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateZ(
    0
  ); /* creo que es similar a transform-style: preserve 3d */
}

header {
  font-family: monospace;
  height: 10vh;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color3);
  z-index: 1;
  position: relative;
}

section {
  position: relative;
  padding: 7vh 0;
  & a {
    border: 1px solid var(--color3);
  }
}

h2 {
  margin-bottom: 10px;
}

h4 {
  margin: 0;
}

div {
  box-sizing: border-box;
}

#scroll-to-bottom {
  display: none;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  padding: 20px 10px;
  z-index: 5;
  cursor: pointer;
}

/*******************************************************************/

#seccion-presentacion {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90svh;
  color: white;
}

#caja-central {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: var(--color2-alpha);
  border-bottom: 1px solid var(--color3);
  border-top: 1px solid var(--color3);
}

#caja-cara {
  position: relative;
  display: flex;
  width: 40%;
  justify-content: center;
}

#caja-cara img {
  position: absolute;
  bottom: 0;
  height: 90%;
  width: auto;
}

img#profile-pic {
  z-index: 1;
}

#caja-fondo-mobile {
  display: none;
}

#caja-presentacion {
  position: relative;
  display: flex;
  width: 60%;
  color: var(--color3);
  text-align: center;
  z-index: 0;
  overflow: visible;
}

#presentacion {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  line-height: 1.5;
}

.fa-chevron-down {
  font-size: 1em;
  color: var(--color3);
  position: absolute;
  bottom: 20px;
  z-index: 5;
  opacity: 33%;
  transition: opacity 1s;
  cursor: pointer;
  padding: 10px;
}

/*****************************************************************/

#seccion-skills {
  color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100svh;
}

#seccion-skills h2 {
  position: absolute;
  top: 5vh; /*revisar*/
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc((1vw + 1vh));
  list-style: none;
  padding: 0;
  width: 80%;
  margin-bottom: 20px;
  line-height: 6vh;
  & img {
    margin-right: 1vw;
  }
  & span {
    margin-right: 0;
  }
}

.skills-list li {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: center;
  transform: translateX(7%);
}

.skill-container {
  display: flex;
  width: 15%;
  justify-content: right;
  align-items: center;
}

.skills-list img.landscape {
  max-width: calc(var(--font-size-landscape) * 2);
}

.skills-list img.portrait {
  max-height: calc(var(--font-size-landscape) * 1.8);
}

#js-icon {
  max-height: calc(var(--font-size-landscape) * 1.5);
}

.skill-name {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: clip;
}

.progress-bar {
  background-color: var(--color3);
  width: 50%;
  height: calc(var(--font-size-landscape) * 0.8);
  margin-left: 10px;
  overflow: hidden;
}

.progress {
  background-color: var(--color4);
  height: 100%;
}

/*****************************************************************/

.seccion-pec {
  color: var(--color3);
  text-align: center;
  z-index: 1;
}

.pec {
  width: 90%;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr 1fr 10fr;
  margin: auto;
}

.card {
  display: grid;
  grid-template-rows: 3% 94% 3%;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  border-radius: 10px;
  margin: 6vh 0;
}

.card img {
  width: 80%;
  object-fit: contain;
  aspect-ratio: 1;
}

.card a {
  background-color: var(--color1);
  width: max-content;
  padding: 3px 10px;
  text-decoration: none;
}

.secondary {
  display: none;
}

.view-more {
  background: none;
  border: none;
  color: var(--color-claro);
  cursor: pointer;
  opacity: 0.5;
}

#view-less-cert {
  display: none;
}

#rqm {
  width: 120%;
}

.card a,
footer a {
  color: var(--color3);
}

/*****************************************************/

#seccion-certificaciones {
  & .card {
    aspect-ratio: unset;
  }
  & img {
    aspect-ratio: unset;
  }
  & a {
    margin-top: 20px;
  }
}

footer a {
  line-height: 0;
}

.red-social {
  height: 2em;
  border-radius: 10px;
  margin: 0 3vw;
}

footer {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  color: var(--color3);
  font-weight: lighter;
  padding: 6vh 0;
  position: relative;
  z-index: 1;
}

#contacto-links {
  display: flex;
  gap: 0 10vw;
}

#scroll-to-top {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  padding: 20px 10px;
}

/*************************************************************/

/*Solo MOBILE*/
/******************** DEJAR ASI POR PANTALLA CUADRADA !!!!!!!*/
@media (max-aspect-ratio: 0.8) {
  body {
    font-size: var(--font-size-portrait);
    font-size: var(--font-size-portrait);
  }

  #seccion-presentacion {
    flex-direction: column;
    align-items: center;
  }

  #caja-central {
    position: absolute;
    top: 0;
    transform: translateY(0);
    height: 90vh;
    flex-direction: column;
    background: none;
    justify-content: center;
    box-shadow: none;
    border: none;
  }

  #caja-cara {
    overflow: hidden;
    width: 60%;
    height: 35%;
    margin: 0 auto;
    border-radius: 200px;
    box-shadow: var(--neon);
  }

  #profile-pic {
    width: auto;
    height: auto;
  }

  #caja-fondo-mobile {
    display: block;
    background-color: var(--color2-alpha);
    position: absolute;
    justify-content: center;
    border-radius: 200px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color3);
  }

  #caja-presentacion {
    width: 100%;
    height: 50%;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    text-align: center;
    padding: 0 6vw;
  }

  #presentacion {
    line-height: 1.5;
    top: 38%;
    left: 50%;
  }

  .fa-chevron-down {
    bottom: 10px;
  }

  /*******************************************************************/

  .skills-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    line-height: calc(var(--font-size-portrait) * 2);
    transform: translateY(5%); /*Dejar asi por pantalla cuadrada*/
  }

  .skills-list li {
    justify-content: center;
    transform: translateX(-6vw);
  }

  .skill-container {
    width: 40%;
  }

  .skills-list img.landscape {
    max-width: calc(var(--font-size-landscape) * 2.7);
  }

  .skills-list img.portrait {
    max-height: calc(var(--font-size-landscape) * 2.5);
  }

  #js-icon {
    max-height: calc(var(--font-size-landscape) * 2.2);
  }

  .progress-bar {
    width: 60%;
    /* margin-right: 1vw; */
    height: calc(var(--font-size-portrait) * 0.6);
  }

  /********************************************************************/

  .seccion-pec {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .pec {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    /* gap: 20px; */
  }

  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    aspect-ratio: unset;
  }

  .secondary {
    display: none;
  }

  .card img {
    margin: 2vh 0;
    width: 90%;
  }

  #rqm {
    width: 90%;
    aspect-ratio: unset;
  }

  #calc-img {
    aspect-ratio: unset;
  }

  /************************* Contacto ************/

  #contacto-links {
    gap: 0;
  }

  .red-social {
    margin: 7vw;
  }
}
