/*DESKTOP FIRST!!!*/
*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* Estándar moderno */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  /* Elimina el color de resaltado en dispositivos móviles */
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color1: #000000;
  --color2: #000730;
  --color2-alpha: #00000096;
  --color3: #c3c3c3;
  --color4: #1c6fc2;
  --font-size-landscape: calc((1vw + 1vh) * 0.8);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
  --font-size-portrait: calc((1vw + 1vh) * 1.2);
}

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: grey;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url('VeraMono.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bitstream Vera Sans Mono', monospace;
  font-size: var(--font-size-landscape);
  text-wrap: balance;
  user-select: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  background-color: var(--color2); /* Se ven igual las burbujas */
}

#parallax-container {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh; /* Este siempre deberia ser fijo en 100vh */
  perspective: 10px;
}

#parallax-background {
  /* height: SE AJUSTA DESDE JS*/
  transform: translateZ(-10px) scale(2.4);
  filter: blur(2.5px);
  width: 100%;
}

.shape {
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle at 25% 25%,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.4) 30%,
    rgba(0, 255, 255, 0.2) 100%
  );
  box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.6),
    inset 10px 10px 20px rgba(0, 0, 0, 0.5);
  animation: float 5s ease-in-out infinite;
  will-change: transform;
}

#content {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateZ(
    0
  ); /* creo que es similar a transform-style: preserve 3d */
}

header {
  font-family: monospace;
  height: 10vh;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color3);
  z-index: 1;
  position: relative;
}

section {
  position: relative;
  padding: 7vh 0;
  & a {
    border: 1px solid var(--color3);
  }
}

#modal-close-btn {
  font-size: larger;
  color: var(--color3);
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px 8px 5px 7px;
  border: 1px solid black;
}

#modal-close-btn:hover {
  border: 1px solid var(--color3);
}

#modal-title {
  font-size: 3rem;
  color: var(--color3);
  text-align: center;
}

#modal-content {
  font-size: 1.5rem;
  color: var(--color3);
  text-align: center;
}

#modal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 35px;
  background-color: var(--color1);
  position: fixed;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 75vh;
  overflow: hidden;
  border: 1px solid var(--color3);
}

#modal-bkg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}

.info {
  display: inline-block;
  margin-left: 10px;
  margin-top: -50px;
  cursor: pointer;
  border-radius: 50px;
  padding: 1.5px 4px 1.5px 4.5px;
  border: 1px solid var(--color3);
  position: relative;
  top: -2px;
}

.info:hover {
  background-color: #fff;
}

h2 {
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
}

h4 {
  margin: 0;
}

div {
  box-sizing: border-box;
}

#dev-mode-btn {
  display: none;
  opacity: 0.7;
  position: fixed;
  top: 12vh;
  left: 2vw;
  padding: 0.3rem;
  z-index: 99;
  cursor: pointer;
}

#dev-mode-btn:hover {
  background-color: var(--color3);
}

.danger-btn {
  background-color: red;
  font-weight: 600;
  color: white;
}

#scroll-to-bottom {
  display: none;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  padding: 20px 10px;
  z-index: 5;
  cursor: pointer;
}

/*******************************************************************/

#seccion-presentacion {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90svh;
  color: white;
}

#caja-central {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: var(--color2-alpha);
  border-bottom: 1px solid var(--color3);
  border-top: 1px solid var(--color3);
}

#caja-cara {
  position: relative;
  display: flex;
  width: 40%;
  justify-content: center;
}

#caja-cara img {
  position: absolute;
  bottom: 0;
  height: 90%;
  width: auto;
}

img#profile-pic {
  z-index: 1;
}

#caja-fondo-mobile {
  display: none;
}

#caja-presentacion {
  position: relative;
  display: flex;
  width: 60%;
  color: var(--color3);
  text-align: center;
  z-index: 0;
  overflow: visible;
}

#presentacion {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  line-height: 1.5;
}

.fa-chevron-down {
  font-size: 1em;
  color: var(--color3);
  position: absolute;
  bottom: 20px;
  z-index: 5;
  opacity: 33%;
  transition: opacity 1s;
  cursor: pointer;
  padding: 10px;
}

/*****************************************************************/

#seccion-skills {
  color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100svh;
  visibility: hidden;
}

#seccion-skills h2 {
  position: absolute;
  top: 5vh; /*revisar*/
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc((1vw + 1vh));
  list-style: none;
  padding: 0;
  width: 80%;
  margin-bottom: 20px;
  line-height: 6vh;
  & img {
    margin-right: 1vw;
  }
  & span {
    margin-right: 0;
  }
}

.skills-list li {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: center;
  transform: translateX(7%);
}

.skill-container {
  display: flex;
  width: 15%;
  justify-content: right;
  align-items: center;
}

.skills-list img {
  margin-right: 0.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

#js-icon {
  max-height: calc(var(--font-size-landscape) * 1.5);
}

.skill-name {
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: clip;
}

.progress-bar {
  background-color: var(--color3);
  width: 50%;
  height: calc(var(--font-size-landscape) * 0.8);
  margin-left: 10px;
  overflow: hidden;
}

.progress {
  background-color: var(--color4);
  height: 100%;
}

/*****************************************************************/

.seccion-pec {
  color: var(--color3);
  text-align: center;
  z-index: 1;
}

.pec {
  width: 90%;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr 1fr 10fr;
  margin: auto;
}

.card {
  display: grid;
  grid-template-rows: 3% 94% 3%;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  border-radius: 10px;
  margin: 6vh 0;
}

.card img {
  width: 80%;
  object-fit: contain;
  aspect-ratio: 1;
}

.card img.landscape {
  width: 100%;
}

.card a {
  background-color: var(--color1);
  width: max-content;
  padding: 3px 10px;
  text-decoration: none;
}

.secondary {
  display: none;
}

.view-more {
  background: none;
  border: none;
  color: var(--color-claro);
  cursor: pointer;
  opacity: 0.5;
}

#view-less-cert {
  display: none;
}

.card a,
footer a {
  color: var(--color3);
}

/*****************************************************/

#seccion-certificaciones {
  & .card {
    aspect-ratio: unset;
  }
  & img {
    aspect-ratio: unset;
  }
  & a {
    margin-top: 20px;
  }
}

footer a {
  line-height: 0;
}

.red-social {
  height: 2em;
  border-radius: 10px;
  margin: 0 3vw;
}

footer {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  color: var(--color3);
  font-weight: lighter;
  padding: 6vh 0;
  position: relative;
  z-index: 1;
  margin-top: 7vh;
}

#contacto-links {
  display: flex;
  gap: 0 10vw;
}

#scroll-to-top {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  padding: 20px 10px;
}

/*************************************************************/

/*Solo MOBILE*/
/******************** DEJAR ASI POR PANTALLA CUADRADA !!!!!!!*/
@media (max-aspect-ratio: 0.8) {
  body {
    font-size: var(--font-size-portrait);
    font-size: var(--font-size-portrait);
  }

  #modal {
    width: 90vw;
    height: max-content;
    padding: 100px 10px;
  }

  #modal-title {
    font-size: 2rem;
  }

  #modal-content {
    font-size: 1rem;
  }

  #seccion-presentacion {
    flex-direction: column;
    align-items: center;
  }

  #caja-central {
    position: absolute;
    top: 0;
    transform: translateY(0);
    height: 90vh;
    flex-direction: column;
    background: none;
    justify-content: center;
    box-shadow: none;
    border: none;
  }

  #caja-cara {
    overflow: hidden;
    width: 60%;
    height: 35%;
    margin: 0 auto;
    border-radius: 200px;
    box-shadow: var(--neon);
  }

  #profile-pic {
    width: auto;
    height: auto;
  }

  #caja-fondo-mobile {
    display: block;
    background-color: var(--color2-alpha);
    position: absolute;
    justify-content: center;
    border-radius: 200px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color3);
  }

  #caja-presentacion {
    width: 100%;
    height: 50%;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    text-align: center;
    padding: 0 6vw;
  }

  #presentacion {
    line-height: 1.5;
    top: 38%;
    left: 50%;
  }

  .fa-chevron-down {
    bottom: 10px;
  }

  /*******************************************************************/

  .skills-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    line-height: calc(var(--font-size-portrait) * 1);
    transform: translateY(5%); /*Dejar asi por pantalla cuadrada*/
  }

  .skills-list li {
    justify-content: center;
    transform: translateX(-6vw);
  }

  .skills-list img {
    max-width: 1rem;
    max-height: 1rem;
  }

  .skill-container {
    width: 40%;
  }

  #js-icon {
    max-height: calc(var(--font-size-landscape) * 2.2);
  }

  .progress-bar {
    width: 60%;
    /* margin-right: 1vw; */
    height: calc(var(--font-size-portrait) * 0.6);
  }

  /********************************************************************/

  .seccion-pec {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .pec {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
  }

  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    aspect-ratio: unset;
  }

  .secondary {
    display: none;
  }

  .card img {
    margin: 2vh 0;
    aspect-ratio: unset;
    &.landscape {
      width: 85%;
    }
  }

  /************************* Contacto ************/

  #contacto-links {
    gap: 0;
  }

  .red-social {
    margin: 7vw;
  }
}
